*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.hero{
   background-color: rgb(147, 72, 218);
   min-height:500px ;
   width:1000px ;
   
   font-weight: bolder;
   color: aliceblue;
   padding: 60px;
  margin: 20px;
  margin-left:100px ;
  

}
p{
  font-weight: lighter;  
}


.imgai{
  margin-left: 450px;
  margin-top: -300px;
}


.second{
    height: 100px;
    width: 500px;
     position: relative;
    left:600px ;
    top: -250px;
}



@media ( max-width:1160px ) and  ( min-width:990px ) {
    .hero{
        height: 200px;
        width: 850px;
        font-weight: bold;
         padding: 40px;
          margin: 10px;

    }

    .imgai{

 margin-left: 359px;
  margin-top: -300px;
  height: 300px;
  width: 300px;


    }

    .boy{
    height:300px ;
    width:500px ;
    margin-left: -900px;
   
    }


.second{
       height: 50px;
    width: 300px;
  
  position: relative;
    left:600px ;
    top: -250px;
}







}